<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Image Editor - Edit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Online Image Editor</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/home}">Home</a></li>
                <li class="active"><a th:href="@{/upload}">Upload</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3>Edit the selected image</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Original</th>
                <th>Modified</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img th:src="@{'/uploaded-images/' + ${original}}" height="600" width="600" alt="Original Image" /></td>
                <td><img th:src="@{'/uploaded-images/' + ${modified}}" height="600" width="600" alt="Modified Imaged" /></td>
            </tr>
            </tbody>
        </table>
        <div align="center">
            <form th:action="@{/edit}" method="post">
                <input type="hidden" id="image" name="image" th:value="${original}">
                <input type="hidden" id="id" name="id" th:value="${id}">
                <label class="radio-inline"><input type="radio" value="smooth" name="filter" checked />Smooth</label>
                <label class="radio-inline"><input type="radio" value="blur" name="filter" />Blur</label>
                <label class="radio-inline"><input type="radio" value="sharpen" name="filter" />Sharpen</label>
                <label class="radio-inline"><input type="radio" value="mean" name="filter" />Mean</label>
                <label class="radio-inline"><input type="radio" value="emboss" name="filter" />Emboss</label>
                <input type="submit" value="Edit" />
                <!-- to get e better type of radio button -->
            </form>
        </div>
    </div>
</body>
</html>