<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Image Editor - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/auth.css}" rel="stylesheet" type="text/css" id="auth-css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Online Image Editor</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/home}">Home</a></li>
                <li class="active"><a th:href="@{/upload}">Upload</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3>List of uploaded images</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Upload Date</th>
                    <th>Edit</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="image: ${images}">
                    <td th:text="${image.location}"></td>
                    <td th:text="${image.modifyDate}"></td>
                    <td><a th:href="@{'/edit/' + ${image.id}}">Edit</a></td>
                    <td><a th:href="@{'/download/' + ${image.id}}">Download</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>