<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Image Editor - Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/auth.css}" rel="stylesheet" type="text/css" id="auth-css">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="inactive underlineHover"><a th:href="@{/login}">Log in</a></h2>
            <h2 class="active"><a th:href="@{/register}">Register</a></h2>

            <div class="fadeIn first">
                <img th:src="@{/images/idpimgedit.png}" id="icon" alt="IDP Icon" />
                <p th:if="${registerError}" class="text-danger">Account already registered!</p>
            </div>
            <form th:action="@{/register}" method="post">
                <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" required>
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required>
                <input type="submit" class="fadeIn fourth" value="Register">
            </form>
        </div>
    </div>
</body>
</html>