<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Image Editor - Upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/auth.css}" rel="stylesheet" type="text/css" id="auth-css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Online Image Editor</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/home}">Home</a></li>
                <li class="active"><a th:href="@{/upload}">Upload</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3>Form for uploading a new image</h3>
        <div class="wrapper">
            <div id="formContent">
                <div>
                    <p th:if="${success}" class="text-success">[[${file}]] has been uploaded. Check Home tab.</p>
                </div>
                <form th:action="@{/upload}" enctype="multipart/form-data" method="post">
                    <center><input id="file" type="file" name="file" accept=".jpg,.jpeg" required /></center>
                    <input type="submit" value="Upload">
                </form>
            </div>
        </div>
    </div>
</body>
</html>